<app-banner src="assets/imagens/banner-cadastro.png" alt="Banner de Login"></app-banner>
<section>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Cadastro</mat-card-title>
      <mat-card-subtitle>Crie sua conta</mat-card-subtitle>
    </mat-card-header>
    <form [formGroup]="cadastroForm">
      <mat-card-content>
        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="nome" type="text" placeholder="Digite seu nome">
          <mat-error *ngIf="cadastroForm.get('nome')?.errors?.['required']">Nome é obrigatório</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="email" type="email" placeholder="Digite seu e-mail">
          <mat-error *ngIf="cadastroForm.get('email')?.errors?.['required']">E-mail é obrigatório</mat-error>
          <mat-error *ngIf="cadastroForm.get('email')?.errors?.['email']">E-mail inválido</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Data de Nascimento</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dataNascimento"
            placeholder="Selecione sua data de nascimento">
          <mat-error *ngIf="cadastroForm.get('dataNascimento')?.errors?.['required']">Data de nascimento é
            obrigatória</mat-error>
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div>

          <label id="genero-radio-group-label">Genero</label>
          <mat-radio-group aria-labelledby="genero-radio-group-label" class="genero-radio-group"
            formControlName="genero" [(ngModel)]="generoOption">
            <mat-radio-button class="example-radio-button" *ngFor="let option of generoOptions" [value]="generoOptions">
              {{option}}
            </mat-radio-button>
          </mat-radio-group>

        </div>

        <mat-form-field appearance="outline">
          <mat-label>Senha</mat-label>
          <input matInput formControlName="senha" type="password" placeholder="Digite sua senha">
          <mat-error *ngIf="cadastroForm.get('senha')?.errors">Senha é obrigatória</mat-error>
        </mat-form-field>
      </mat-card-content>
    </form>

    <mat-card-actions>
      <button mat-flat-button color="primary" (click)="cadastrar()">
        CADASTRAR
      </button>
    </mat-card-actions>
  </mat-card>
</section>
