<app-card variant="secondary" class="form-busca">
  <form [formGroup]="formBuscaService.formBusca" (ngSubmit)="buscar()">
    <h2>Passagens</h2>
    <div class="flex-container">
      <mat-button-toggle-group aria-label="Tipo de passagem" formControlName="somenteIda">
        <mat-button-toggle [value]="false">
          <mat-icon *ngIf="!formBuscaService.formBusca.get('somenteIda')?.value">check</mat-icon>
          IDA E VOLTA
        </mat-button-toggle>
        <mat-button-toggle [value]="true">
          <mat-icon *ngIf="formBuscaService.formBusca.get('somenteIda')?.value">check</mat-icon>
          SOMENTE IDA
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>


  </form>

</app-card>
