<div class="container">
  <h4 class="text-center">Login</h4>
  <form class="form mt-4" (ngSubmit)="login()" #loginForm="ngForm">
    <div class="form-group">
      <input
        class="form-control"
        placeholder="Nome do usuario"
        [(ngModel)]="usuario"
        name="usuario"
        #campoUsuario="ngModel"
        required
      />
      <app-mensagem
        *ngIf="campoUsuario.invalid && campoUsuario.touched"
        mensagem="Usuario Obrigatorio"
      ></app-mensagem>
    </div>
    <div class="form-group">
      <input
        type="password"
        class="form-control"
        placeholder="Senha do usuário"
        [(ngModel)]="senha"
        name="senha"
        required
        #campoSenha="ngModel"
      />
      <app-mensagem
        *ngIf="campoSenha.invalid && campoSenha.touched"
        mensagem="Senha Obrigatório"
      ></app-mensagem>
    </div>
    <button type="submit" class="btn btn-primary btn-block"[disabled]="loginForm.invalid" >Login</button>
  </form>
</div>
<p>Registre-se <a [routerLink]="['novousuario']">Aqui</a> </p>
